html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #666666, #999999, #cccccc);
  display: flex;
  justify-content: center;
  align-items: center;
}
